@charset "utf-8";

@font-face {
 font-family: "Quicksand";
 src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
 font-family: "Quicksand";
 src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
 font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(250, 248, 227, 1);
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(170, 170, 170, 0);
  background-clip: padding-box;
  border-radius: 100px;
  background-color: rgb(170, 170, 170);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(140, 140, 140);
  border: 2px solid rgba(140, 140, 140, 0);
}

body {
	background-color: rgba(250, 248, 227, 1);
	margin: auto;
}

hr {
	border: 1px dashed rgba(220, 220, 220, .4);
	border-radius: 5px;
}

.header {
	height: 20%;
	width: 100%;
	display: table;
	font-family: "Quicksand";
	margin: 50px auto;
}

.general {
	padding: 10px;
	display: table;
	font-family: "Quicksand";
	margin: auto;
}

.info {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

.name {
	font-size: 30px;
	font-weight: bold;
}

.position {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.3);
}

.position-main {
	color: rgba(0, 0, 0, 1);
}

.other-info {
	font-size: 15px;
	padding: 4px 0;
	display: flex;
    align-items: center;
	justify-content: left;
}

.photo {
	padding: 10px;
}

.image {
	height: 200px;
	border-radius: 20px;
}

.icon {
	height: 25px;
	margin-right: 10px;
	color: rgba(120, 120, 120);
}

.experience {
	margin: auto;
	padding: 20px;
	display: table;
	font-family: "Quicksand";
}

.company-block {
	padding: 20px 0;
}

.company {
	display: table;
}

.company-icon {
	width: 120px;
	padding: 15px;
}

.location {
	display: table-cell;
	font-size: 14px;
	opacity: .4;
}

.title {
	display: table-cell;
	font-size: 20px;
	font-weight: bold;
}

.description {
	display: table-cell;
	vertical-align: middle;
	max-width: 600px;
}


.job-dates {
	display: inline-block;
	font-weight: bold;
}

.job-period {
	padding-left: 30px;
	display: inline-block;
	font-size: 14px;
	opacity: .4;
}

.company-info:before {
	content: "in ";
}

.skills-header {
	margin: auto;
	padding: 5px;
	text-align: center;
	display: table-row;
	font-family: "Quicksand";
	font-weight: bold;
	font-size: 20px;
}

.block-header {
	margin: auto;
	padding: 5px;
	text-align: center;
	font-family: "Quicksand";
	font-weight: bold;
	font-size: 20px;
}

.skills {
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
	user-select: none;
	margin: auto;
}

.skills-content {
	width: 30vw;
	margin: auto;
	padding: 10px;
	float: left;
	font-family: "Quicksand";
	font-weight: bold;
}

.skills-item {
	display: inline-block;
	font-size: 12px;
	background-color: rgba(189, 134, 240, 1);
	border-radius: 50px;
	padding: 12px;
	margin: 3px 2px;
	text-align: center;
	vertical-align: middle;
}

.category {
	padding: 15px 0 5px 0;
	font-weight: bold;
}

.tech:before {
	content: "Tech. stack";
}

.tasks:before {
	content: "Tasks & Achievements";
}

.achivements {
	list-style-type: '- ';
}

.achive-element {
	margin: 10px 0;
}

.company-icon-block {
	position: relative;
	cursor: pointer;
}

.company-icon-block img {
	display:  block;
	margin: 0 20px;
}

.company-icon-block .overlay {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: .3s;
	padding: 10px;
}

.company-icon-block .overlay .icon{
	height:  12px;
}

.company-icon-block:hover .overlay {
	opacity: .4;
}
